# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
out/
.next/
.turbo/
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# testing
coverage/
